# /path/to/nginx_config/default.conf

# events {
#     worker_connections 1024;
# }

server {
    listen 80;
    server_name your_domain.com; # 替换你的域名
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name your_domain.com; # 替换你的域名

    ssl_certificate /etc/nginx/certs/server.crt; # 证书存放的路径
    ssl_certificate_key /etc/nginx/certs/server.key; # 私钥存放的路径

    root /var/www/html;
    index index.php index.html;

    # 伪静态
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        fastcgi_pass php:9001;  # 修改为9001
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }
}

